# Ambientes Virtuais
.venv/
venv/
ENV/

mise.toml

# Python (Byte-compiled)
__pycache__/
*.py[cod]
*$py.class

# Distribuição / Pacotes
dist/
build/
*.egg-info/
*.spec

# Logs e variados
*.log
.pytest_cache/
.mypy_cache/

# Sistema / IDE
.DS_Store
.vscode/
.idea/
